.list {
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.listItem {
  color: rgb(173, 154, 154);
  background-color: rgb(241, 236, 245);
  padding: 15px 20px;
}

.listItem:hover {
  cursor: pointer;
}

.listItemActive {
  color: #fff;
  background-color: rgb(43, 5, 78);
  padding: 15px 20px;
}

.oplata {
  display: flex;
}

.title {
  margin-bottom: 5px;
  text-align: left;
}

.listPay {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.listPayItem {
  color: rgb(173, 154, 154);
  background-color: rgb(241, 236, 245);
  padding: 25px 40px;
  margin: 5px;
}
.listPayItem:hover {
  cursor: pointer;
}

.listPayItemActive {
  color: #fff;
  background-color: rgb(43, 5, 78);
  padding: 25px 40px;
  margin: 5px;
}

.cardWrapper {
  background-color: rgb(216, 199, 236);
  padding: 10px;
}
.cardNumber {
  display: flex;
  justify-content: space-between;
}
.cardNumberInput {
  width: 50px;
  outline: none;
  border: none;
  background-color: rgb(241, 236, 245);
  padding: 10px;
  margin: 5px;
}

.cardData {
  display: flex;
}

.cardDataTitle {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  text-align: left;
}

.cardDataInput {
  outline: none;
  border: none;
  background-color: rgb(241, 236, 245);
  padding: 10px;
  margin: 5px;
}

.btn {
  margin-top: 10px;
  padding: 10px 50px;
  font-size: small;
  color: #fff;
  outline: none;
  border: none;
  background-color: rgb(158, 91, 172);
  box-shadow: 3px 3px 3px #ccc;
}
.btn:hover {
  background-color: rgb(78, 37, 80);
  cursor: pointer;
}
