.list {
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  list-style: none;
}

.listItem {
  color: rgb(173, 154, 154);
  background-color: rgb(241, 236, 245);
  padding: 15px 20px;
  margin-bottom: 5px;
}

.listItem:hover {
  cursor: pointer;
}

.listItemActive {
  color: #fff;
  background-color: rgb(43, 5, 78);
  padding: 15px 20px;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    justify-content: space-between;
  }
}
